body {
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background-color: #e6c7bc;
  color: white;
}

#webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.spacer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
