body { 
  margin: 0; 
  background-color: #e6c7bc; 
  color: white; 
  font-family: sans-serif; 
}

#webgl { 
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: -1; 
  outline: none; 
}

.spacer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  pointer-events: none;

  text-align: center;
  padding: 0 20px;
}


.scroll-container {
  position: relative;
}