body {
  margin: 0;
  background-color: #e6c7bc;
  color: white;
  font-family: sans-serif;
}

#webgl {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  outline: none;
}

.spacer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  pointer-events: none;

  text-align: center;
  padding: 0 20px;
}


.scroll-container {
  position: relative;
}


.image-grid {
  display: block;
  column-count: 2;
  column-gap: 0;
  width: 100%;
  background-color: #e6c7bc;
}

.image-grid img {
  width: 100%;
  display: block;
  height: auto;
  box-sizing: border-box;
}

.after-images {
  background-color: #e6c7bc;
  z-index: 1000;
}
